:root {
	--geo-icon-color: #4690d6;
	--geo-icon-size: 16px;
	--geo-icon-margin: 10px;
	--geo-search-item-indent: 30px;
}

.elgg-icon.elgg-icon-geo-location {
  background: none;
  display: inline-block;
  font-family: FontAwesome;
  font-style: normal;
  font-weight: normal;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.elgg-icon.elgg-icon-geo-location:before {
  content: "\f041";
  color: var(--geo-icon-color);
  font-size: var(--geo-icon-size);
  margin-right: var(--geo-icon-margin);
}

.geo-search-item > .elgg-body {
  margin-left: var(--geo-search-item-indent);
}
